image:
  repository: busybox
  tag: latest
  pullPolicy: IfNotPresent
appMessage: "Hello from payment service"
replicas: 2

service:
  type: ClusterIP
  port: 80

serviceAccount: 
  create: true
  name: ""
