image:
  repository: busybox
  tag: latest
  pullPolicy: IfNotPresent
appMessage: "Hello from shipping service"
replicas: 4

service:
  type: ClusterIP
  port: 80

serviceAccount:
  create: true
  name: ""
